{% extends "recommend/base.html" %}
{% block title %}All Recommendations{% endblock %}
{% block content %}
 <h1>All Recommendations</h1>
 {% for recommendation in recommendations %}
 <h2>
 <a href="{{ recommendation.recommendation.encoded_id }}">
 {{ recommendation.recommendation.headline }}
 </a>
 </h2>
 <p>
 Created at {{ recommendation.created_at }} for <a href="{{ recommendation.team.id }}">
    {{ recommendation.team }}
    </a>
 </p>
 {% comment %} {{ recommendation.recommendation|truncatewords:30|linebreaks }} {% endcomment %}
 {% endfor %}
 {% comment %} {% include "pagination.html" with page=posts %} {% endcomment %}
 {% comment %} {% include "pagination.html" with page=page_obj %} {% endcomment %}

{% endblock %}
