@import "../../vars";

.recommendationCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: $font_inactive_color;
  background: $background_third_color;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1.25em 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  &.suggested {
    border-bottom-color: $primary_color;
  }

  &.implemented {
    border-bottom-color: $success_color;
  }

  &.rejected {
    border-bottom-color: $warning_color;
  }

  > .text {
    text-align: center;
  }

  > .weights {
    margin-top: auto;
    text-align: center;

    > .weight {
      border: 1px solid;
      display: inline-block;
      padding: 0.5em;
      border-radius: 6px;
      border-color: $font_inactive_color;
    }
  }
}
