@import "../../vars";

.button {
  border-radius: 6px;
  border: 1px solid;
  padding: 0.75em;
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-align: center;

  &:hover {
    scale: 1.05;
  }

  &.inline {
    display: inline-block;
  }

  &.primary {
    color: $primary_color;
    border-color: $primary_color;
  }

  &.success {
    color: $success_color;
    border-color: $success_color;
  }

  &.warning {
    color: $warning_color;
    border-color: $warning_color;
  }

  &.light {
    color: $font_light_color;
    border-color: $font_light_color;
  }
}
