$breakpoint: 1024px;
$company_color: #003da7;
$background_first_color: #fafafa;
$background_second_color: #003da7;
$background_thrd_color: #fff;
$font_dark_color: #1e272e;
$font_light_color: #ffffff;
$font_inactive_color: #b6b6b6;
$font_family: "Montserrat";
$content_height: 85vh;
