$breakpoint: 1024px;
$font_family: "Montserrat";
$company_color: #003da7;
$background_first_color: #fafafa;
$background_second_color: #003da7;
$background_third_color: #fff;
$background_overlay: rgba(26, 26, 26, 0.9);
$font_dark_color: #1e272e;
$font_light_color: #ffffff;
$font_inactive_color: #b6b6b6;
$primary_color: #3c40c6;
$success_color: #0be881;
$warning_color: #ffa801;
