@import "../../vars";

.bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 5em;
  overflow: hidden;
  background-color: $background_second_color;

  > .items {
    height: 100%;
    display: flex;
    direction: row;

    > .item {
      align-self: center;
      margin-right: 2em;
    }

    > .item.logo img {
      height: 4em;
    }

    > .item.text {
      @media only screen and (max-width: $breakpoint) {
        display: none;
      }
    }
  }
}
