@import "../../vars";

.recommendationList {
  width: 100vw;
  padding-top: 5em;

  > .recommendationCategory {
    width: 100vw;

    > .title {
      padding-left: 1em;

      > .name,
      .count {
        display: inline-block;
      }
    }

    > .content {
      padding: 0em 1em 0 1em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: normal;
      align-content: flex-start;
      width: 100%;

      @media only screen and (min-width: $breakpoint) {
        flex-wrap: nowrap;
      }

      @media only screen and (max-width: $breakpoint) {
        flex-wrap: wrap;
      }
    }
  }
}
